.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    text-align: center;
}

@media screen and (max-width: 576px) {
    .card {
        width: 100%;
        margin: 5px 10px;
    }
    .card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .card h2 {
        font-size: 1.5em;
    }
    .card p {
        font-size: 1.1em;
    }
    .home {
        margin: 50px 0 0 0;
    }
}

@media screen and (min-width: 577px) {
    .card {
        width: 90%;
        margin: 5px 10px;
    }
    .card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .card h2 {
        font-size: 1.6em;
    }
    .card p {
        font-size: 1.2em;
    }
    .home {
        margin: 50px 0 0 0;
    }
}

@media screen and (min-width: 991px) {
    .card {
        width: 70%;
    }
    .card img {
        width: 600px;
        height: 400px;
        object-fit: cover;
    }
    .card h2 {
        font-size: 1.8em;
    }
    .card p {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 1199px) {
    .card {
        width: 40%;
    }
    .card img {
        width: 450px;
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1439px) {
    .card {
        width: 30%;
        margin: 5px 20px;
    }
    .card h2 {
        font-size: 2em;
    }
    .card p {
        font-size: 1.25em;
    }
    .home {
        margin: 50px 40px 0 40px;
    }
}





/* .card img {
    width: 600px;
    height: 400px;
    object-fit: cover;
} */

a {
    text-decoration: none;
    position: relative;
    color: rgb(61, 61, 61);
    transition: color 0.3s, border-bottom 0.3s;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid rgb(61, 61, 61);
    transition: width 0.3s;
}

a:hover {
    color: black;
}

a:hover::after {
    width: 100%;
}

a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 5px;
}