
@media screen and (max-width: 576px) {
    .card {
        width: 100%;
        margin: 5px 10px;
    }
    .card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .card h2 {
        font-size: 1.5em;
    }
    .card p {
        font-size: 1.1em;
    }
    .home {
        margin: 50px 0 0 0;
    }
    .burgerMenu {
        display: inline;
    }
    .tab {
        display: none;
    }
}

@media screen and (min-width: 577px) {
    .card {
        width: 90%;
        margin: 5px 10px;
    }
    .card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .card h2 {
        font-size: 1.6em;
    }
    .card p {
        font-size: 1.2em;
    }
    .home {
        margin: 50px 0 0 0;
    }
    .burgerMenu {
        display: inline;
    }
    .tab {
        display: none;
    }
}

@media screen and (min-width: 991px) {
    .card {
        width: 70%;
    }
    .card img {
        width: 600px;
        height: 400px;
        object-fit: cover;
    }
    .card h2 {
        font-size: 1.8em;
    }
    .card p {
        font-size: 1.4em;
    }
    .burgerMenu {
        display: none;
    }
    .tab {
        display:inline;
    }
}

@media screen and (min-width: 1199px) {
    .card {
        width: 40%;
    }
    .card img {
        width: 450px;
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1439px) {
    .card {
        width: 30%;
        margin: 5px 20px;
    }
    .card h2 {
        font-size: 1.6em;
    }
    .card p {
        font-size: 1.2em;
    }
    .home {
        margin: 50px 40px 0 40px;
    }
    .card img {
        width: 350px;
        height: 233px;
        object-fit: cover;
    }
}